<div class="container my-4">
    <h3 class = "text-center">Change Your Password</h3>
    <div class="content my-3">
        <form [formGroup]="validateUser" (ngSubmit)="onLogin()">
            <div class="mb-3">
                <label for="l_email" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="l_email" [(ngModel)]="user.email"
                    id="l_email">
                <div *ngIf="submitted && validateUser.controls['l_email'].errors" class="error">
                    <div class="text-danger" *ngIf="validateUser.controls['l_email'].errors['required']">Email is
                        required</div>
                    <div class="text-danger" *ngIf="validateUser.controls['l_email'].errors['pattern']">Email is
                        invalid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="l_pwd" class="form-label">New Password</label>
                <input type="password" class="form-control" formControlName="l_pwd" [(ngModel)]="user.password"
                    id="l_pwd">
                <div *ngIf="submitted && validateUser.controls['l_pwd'].errors" class="error">
                    <div class="text-danger" *ngIf="validateUser.controls['l_pwd'].errors['required']">Password is
                        required</div>
                    <div class="text-danger" *ngIf="validateUser.controls['l_pwd'].errors['minLength']">Password must be
                        at least 6 characters</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="c_pwd" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="c_pwd"
                    id="c_pwd">
                <div *ngIf="submitted && validateUser.controls['c_pwd'].errors" class="error">
                    <div class="text-danger" *ngIf="validateUser.controls['c_pwd'].errors['required']">Confirm Password is
                        required</div>
                    <div class="text-danger" *ngIf="validateUser.controls['c_pwd'].errors['minLength']">Confirm Password must be
                        at least 6 characters</div>
                </div>
            </div>
            <div class = "mb-3" *ngIf = "!equalpassword">
                <div class = "text-danger">New password and confirm password does not match</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>